.boite{
    width: 90vw;
    margin-left: 5vw;
    justify-content:  center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    width: 25%;
    height: 20vh;
    min-height: 5vh;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2vh 2vh;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    height: 50vh;
    min-height: 100px;
    display: none;

    padding: 6px 12px;
    border: 1px solid #ccc;
  }

  .Canvas {
    width: 50%; 
    min-width: 400px;
    margin-left: auto; 
    margin-right: auto; 
    height: 60% 
  }

  .logoDash{
    width: 15%;
    min-width: 25px;
    padding-left: 1vw;
    vertical-align: middle;
  }

  .tabTitle{
    font-size: calc(15px + 0.25vw);
  }