/* Gérer l'ensemble des actions de la page*/
html{
  scroll-behavior:smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #FDFDFF;
  margin:0;
  padding:0;
}

/*Gros titre de la montre*/
h1{
    color: #96C836;
    font-weight: 500;
    margin-top: 0px;
}

/*Sous titre de la montre */
h3{
    color: #96C836;
    margin-top:0px;
    font-weight: 500;
}

/*Grille de la partie Découvrir*/
.montre {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    left: 5%;
    margin-right: 10%;
    margin-top: 10%;
    grid-gap: 10px;
    text-align: left;
    grid-auto-rows: minmax(5px, auto);

  }
  .montre_pic{
    height:auto;
    width: 75%;
    vertical-align: middle;
  }
  .one {
    grid-column: 1;
    grid-row: 1/7;
    text-align: center;
    align-self: center;

  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1/3;
  }
  .three {
    grid-column: 2;
    grid-row: 4;
  }
  .four {
    grid-column: 3;
    grid-row: 4;
  }
  .five {
    grid-column: 2;
    grid-row: 6;
  }
  .six {
    grid-column: 3;
    grid-row: 6;
  }
  .sept{
    grid-column: 1/3;
    grid-row:6/8
  }

/*Header*/
nav{
  list-style-type: none;
  position:static;
  margin: 0;
  padding: 0;
  top: 0;
  padding-top: 1%;
  height: 10%;
  width: 98vw;
  white-space: nowrap;
}


nav .bouton {
  text-align: center;
  display: inline-block;
  margin-left: 1%;
  margin-right: 2%;
  align-items: center; 
}

.logo{
    background-image: url(img/blank.png);
    background-repeat:no-repeat;
    background-size: contain;
    width: 9%;
    height: 100%;
}
.span{
    color: #8AC144 ;
}
.write{
  line-height: 50px;
  font-family: Poppins;
  padding: 2%;
}
.bouton{
  font-style: normal;
font-weight: normal;
font-size: 24px;
align-content: center;
line-height: 36px;
text-align: center;
color: #2C2C2C;
background-color: transparent;
padding: 0;
border: none;
}

/*Footer*/
footer{
  position: relative;
  margin-top: 20px;
  display: flex;
    justify-content: center;
    width: 100%;
  background-color: #2C2C2C;
  color: #fff;
}

/*Elements centraux de la page d'accueil*/
.middlemainflex{
  position: static;
  margin-top: 5%;
  display: flex;
  align-self: center;
  align-items: center;
}

.leftflex{
  display: static;
  flex-direction: column;
  margin-left: 8%;
  width: 60%;
  background-position: left;
  margin-top: 10%;
  color: #2C2C2C;
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
}
.rightflex{
  display: static;
  flex-direction: row;
  align-items: baseline;
  width: 40%;
}

.txt1{
  font-size: 96px;
  line-height: 25px;
}
.txt2{
  font-size: 72px;
  line-height: 108px;
}
.txt3{
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
}
.spx{
  color: #96C836;
}
.rect{
  background: #96C836;
  border-radius: 10px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  min-width: 30%;
  color: #FDFDFF;
  width: 30%; 
}
.watch1{
  height: 45%;
  width: auto;
  margin-right: 2%;
}
.watch2{
  height: 70%;
  width:auto;
}
.footertxt1{
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 16px;
left: 0%;
}
.footerdiv1{
  position: absolute;
left: 20%;
right: 20%;
bottom: 35%;
height: 1px;
background: #FDFDFF;
}
a{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 16px;
color: #96C836;
text-decoration: none;
}
.footerdiv2{
  position: absolute;
  bottom: 0%;
  justify-content: space-between;
  width: 60%;
}