/*Footer*/
footer{
  bottom: 0;
  position:absolute;
  display: block;
  text-align: center;
  width: 100%;
  overflow:hidden;
  background-color: #2C2C2C;
  color: #fff;
}

.ranking{
    display: grid;
    grid-template-columns: 50vw;
    padding: 0;
    padding-top: 5vh;
    margin: 0;
    margin-left: 25vw;
    align-items: center;
    align-content: center;
}

.case{
    border: solid 2px grey;
    width: 100%;
    border-bottom: solid 0px transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.ranking .case:last-of-type{
    border-bottom: solid 2px grey;
}

.alignedroite{
    float: right;
}