/*Header*/
nav{
    list-style-type: none;
    position:static;
    margin: 0;
    padding: 0;
    top: 0;
    padding-top: 1vh;
    height: 10vh;
    min-height: 80px;
    width: 100vw;
  }
  
  nav .bouton {
    text-align: center;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 2vw;
    align-items: center; 
  }
  
  .logo{
      background-image: url(img/blank.png);
      background-repeat:no-repeat;
      background-size: contain;
      width: calc(10px + 3vw);
      vertical-align: sub;
      margin: 0;
      margin-top: 1vh;
      margin-left: 5vw;
      height: 100%;
  }
  .span{
      color: #8AC144 ;
  }
  .write{
      line-height: 5vh;
      font-family: Poppins;
      padding-top: 2vh;
  }
  .bouton{
    font-style: normal;
  font-weight: normal;
  font-size: calc(15px + 0.75vw);
  align-content: center;
  line-height: 36px;
  text-align: center;
  color: #2C2C2C;
  background-color: transparent;
  padding: 0;
  border: none;
  }
  

  body{
    font-family: 'Poppins', sans-serif;
    background-color: #FDFDFF;
    margin:0;
    padding:0;
}
  /*Footer*/
  footer{
    position: absolute;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #2C2C2C;
    color: #fff;
    height: auto;
    bottom: 0vw;
    font-family: Poppins;
    margin-left: auto;
    margin-right: auto;
  }
  .footerbox1{
    flex: 1;
    font-family: Poppins;
    margin-left: auto;
    margin-right: auto;
  }
  .footerbox2{
    flex: 2;
    font-family: Poppins;
    margin-left: auto;
    margin-right: auto;
  }
  .link1{
    text-decoration: none;
    color: #8AC144 ;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .link1:first-child{
    padding-left: 0;
    padding-left: 0;
  }
  .barre{
    height: 2px;
    background-color: white;
    background-size: cover;
    width: 38vw;
    margin-left: auto;
    margin-right:auto;
  }
  .link2{
    padding-left: 0.5vw;
    padding-right: 00.5vw;
  }
  .dropbtn {
    font-style: normal;
    font-weight: normal;
    font-size: calc(15px + 0.75vw);
    align-content: center;
    line-height: 36px;
    text-align: center;
    color: #2C2C2C;
    background-color: transparent;
    padding: 0;
    border: none;
    }
  
  .dropdown {
    float: right;
    text-align: center;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 2vw;
    align-items: center;
    padding-top: 2vh;

  }
   .dropdown-content {
    display: none;
    position: absolute;
    min-width: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding-top: 0.4vh;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }
  
  .dropdown-content a:hover {background-color: white;border-radius: 10px;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {border-radius: 10px;}

  .flag{
    width: 4vw;
    height: 5vh;
    min-width: 50px;
    min-height: 50px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #8AC144 ;
  }
  
  .bigTitle{
    color: #8AC144 ;
    font-size: calc(20px + 0.75vw);
  }

  .sidePageDiv{
    margin-top: 5vh ;
    margin-left: 15vw;
  }

  .sidePageQuestion{
    margin-left: 2vw;
    font-size: calc(15px + 0.5vw);
    text-decoration: underline;
  }

  .sidePageText{
    margin-left: 2vw;
  }