/*Footer*/
footer{
  bottom: 0;
  position:absolute;
  display: block;
  text-align: center;
  width: 100%;
  overflow:hidden;
  background-color: #2C2C2C;
  color: #fff;
}

.formulaire{
    position:static;
    width:96vw;
    margin: 2vw;
    margin-top: 0;
    display: flex;
    flex-direction:column;
    padding-top: 2vh;
    height: auto;
    text-align: center;

}

.login{
  width:45%;
  float: left;
  margin-left:2%;
  margin-right:2%;  
}

input[type=text]{
  margin-top: 1%;
  margin-bottom: 5%;
  display: block;
  text-align: left;
  width:95%;
  padding: 1%;
  border: none;
  border-bottom: 3px solid #96C836;
  margin-left: 2%;
  box-sizing: border-box;
  text-align: left;
}

input[type=password]{
  margin-top: 1%;
  margin-bottom: 5%;
  display: block;
  border: none;

  border-bottom: #96C836;
  width:95%;
  border: none;
  border-bottom: 3px solid #96C836;
  padding: 1%;
  margin-left: 2%;
  box-sizing: border-box;
}

input[type=submit]{
  background-color: #96C836;
  border-radius: 10px;
  width: 20vw;
  padding: 1vw;
  border: none;
  color: #FDFDFF;
  font-family: Poppins; 
  font-size: 5vh;
  line-height: 54px;
}

h2{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 49px;
  text-align: center;
}

.error{
  color:red;
}
.errorcenter{
  text-align: center;
  color: red;
}

.successcenter{
  text-align: center;
  color: #96C836;
}